<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gchsj.sample.mapper.SampleMapper">
	
	<insert id="insert">
		INSERT INTO SAMPLE(ID, TITLE, REG_USER, CONTENT, REG_DATE)
		VALUES (
		#{id},
		#{title},
		#{regUser},
		#{content},
		CURRENT_TIMESTAMP
		)
	</insert>
	
	<update id="update">
		UPDATE SAMPLE
		SET TITLE=#{title},
			REG_USER=#{regUser},
			CONTENT=#{content}
		WHERE ID=#{id}
	</update>
	
	<delete id="delete">
		DELETE FROM SAMPLE
		WHERE ID=#{id}
	</delete>
	
	<select id="select" parameterType="sample" resultType="sample">
	<![CDATA[
		SELECT ID, TITLE, REG_USER, CONTENT, REG_DATE
		FROM SAMPLE
		WHERE ID = #{id}
	]]>
	</select>
	
	<select id="selectList" parameterType="sample" resultType="sample">
		SELECT ID, TITLE, REG_USER, CONTENT, REG_DATE
		FROM SAMPLE
		ORDER BY ID DESC
	</select>
</mapper>
